<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam voluptate quod non cupiditate eos illum
            aut porro soluta recusandae! Est ducimus excepturi delectus facilis ipsum tempore nulla dolor impedit quo
            voluptates maiores, quidem beatae consectetur praesentium nobis. Aut, neque.</p>
    </div>
</div>