<div class="jumbotron mt-4 p-5 bg-light text-black rounded">
    <div class="container">
        <h1 class="display-4">Aplicacion de Notas y MongoDB</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <hr class="my-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus impedit provident id sequi ab ipsa
            iusto aliquam minus totam. Fugit nemo praesentium officia voluptates deserunt rerum, ea animi nulla
            exercitationem!
        </p>
        <a href="https://learn.microsoft.com/es-mx/users/keylertm/" class="btn btn-primary btn-lg">Perfil Microsoft
            Learn</a>
    </div>
</div>